.results {
  background-color: rgb(20, 18, 17);
  color: white;
  display: flex;
  flex-direction: column;
}

.results--loading, .results--none {
  height: 100vh;
  background-color: rgb(20, 18, 17);
  color: white;
  padding-top: 60px;
}

.results--none {
  justify-content: center;
  width: 100%;
}

.results--grid {
  display: grid;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 100px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 32px;
  justify-content: center;
}

.results--pages {
  display: flex;
  width: 15%;
  align-self: center;
  justify-content: space-around;
  margin-bottom: 120px;
}

@media screen and (min-width: 600px) {

  .results--grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
    padding-left: 20%;
    padding-right: 20%;
  }

}

@media screen and (min-width: 800px) {

  .results--grid {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (min-width: 1000px) {

  .results--grid {
    grid-template-columns: repeat(5, 1fr);
  }

}