.results {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.results--last, .results--next {
  border: none;
  color: inherit;
  align-self: center;
  text-decoration: none;
}

.results--last:hover, .results--next:hover {
  color: var(--text-accent);
}

.results--card:hover {
  color: var(--text-accent);
}

.results--loading, .results--none {
  height: 100vh;
  background-color: var(--background);
  color: var(--text-primary);
  padding-top: 60px;
  text-align: center;
}

.results--none {
  justify-content: center;
  width: 100%;
}

.results--pages {
  display: flex;
  width: 40%;
  align-self: center;
  justify-content: space-around;
  margin-bottom: 120px;
}
