.journal-entry {
padding: 0 1em;
}

.entry-date {
  margin-bottom: .4em;
  font-size: 1.2rem;
}

.entry {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.entry-date-container {
  width: 70px;
  height: 70px;
  border: dashed var(--text-primary);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  margin-right: 24px;
}

.entry-info {
  display: flex;
}

.entry-image {
  height: auto;
  width: 64px;
  margin-right: 24px;
}

.entry-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.entry-artist {
  margin-top: 4px;
}

.entry-rating {
  margin-top: 4px;
}

.entry-delete {
  filter: var(--trash-icon-filter);
  height: auto;
  width: 24px;
}

.journal-actions {
  display: flex;
  gap: 1em;
}

.entry-notes {
  padding: 12px;
  border: solid 2px var(--text-primary);
  border-radius: 10px;
  margin-top: .8em;
}

.notes-icon {
  height: auto;
  width: 24px;
  filter: var(--journal-icon-filter);
}

.active-note {
  filter: var(--journal-active-filter)
}

.entry-delete:hover, .entry-image:hover, .notes-icon:hover {
  cursor: pointer;
  scale: 1.1;
}

@media (max-width: 380px) {
  .journal-actions {
    flex-direction: column;
    gap: .5em;
  }
}