.main-form-container {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25,23,37, .9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal-form {
  max-width: 1400px;
  width: 90%;
  position: relative;
  top: auto;
  margin: auto;
  min-height: 68vh;
  background-color: var(--background);
  border-radius: 10px;
  border: 1px solid #6546C4;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.form-image {
  width: auto; 
  height: 102px;
  background-color: lightcoral;
}

.form-title {
  font-size: 1.2em;
  font-weight: bold;
}

.form-date {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.form-listen {
  margin-top: .5em;
  font-size: .8em;
}

.date-container {
  position: relative;
  width: 140px;
}

.date-input {
  width: 140px;
  margin-top: .5em;
  padding: 2px;
  padding-left: 5px;
  color: var(--text-primary);
  background-color: transparent;
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  z-index: 2;
}

.calendar-icon {
  width: 12px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 12px;
  filter: brightness(0) invert(1);
  pointer-events: none;
}

.form-notes-label {
  display:inline-block;
  margin-top: 1em;
}

.form-notes {
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  max-height: 40vh;
  max-width: 100%;
  color: var(--text-primary);
  background-color: transparent;
}

.form-rating {
  margin-top: 12px;
}

.form-submit {
  width: 64px;
  padding: 4px;
  color: var(--text-primary);
  margin-top: auto;
  background-color: var(--button-background);
  border: none;
  border-radius: 6px;
}

.form-escape {
  margin-left: auto;
  height: 32px;
  width: auto;
  position: absolute;
  top: 1em;
  right: 1em;
}

.calendar-icon:hover, .form-submit:hover {
  cursor: pointer;
  background-color: #6546C4;
}

.date-input:hover {
  cursor: pointer;
  color: #FFA3FD;
  border-color: #FFA3FD;
}

.form-escape:hover {
  cursor: pointer;
}

@media (min-width: 525px) {
  .form-container {
    display: flex;
  }

  .form-info {
    margin-left: 14px;
  }
}