* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #191725;
  width: 100%;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  font-family: 'shanti';
}

main {
    background-color: #191825;
    color: white;
}

.album--grid {
  display: grid;
  padding-bottom: 4em;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
  grid-gap: 2em;
  margin: auto;
  justify-content: space-between;
}

.standard-btn {
  background-color: #865DFF;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}

.standard-btn:hover {
  background-color: #6546C4;
}

.sub-title {
  margin: 0 0 1em 1em;
}

@media (max-width: 450px) {
  /* html {
    margin: 1em 0 0 0;
  } */

  .album--grid {
    padding: 0 2em;
    justify-content: center;
  }
}
