* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  margin: 1.5em 2em 0 2em;
} */

body {
  margin: auto;
  max-width: 1200px;
}

main {
    display: flex;
    justify-content: center;
    background-color: #191825;
    color: white;
}
