.album-details {
  margin: 0 1em 0 1em;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.add-to-collections-button,
.journal-button {
  padding: 0.5rem 1rem;
  background-color: #865dff;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 153px;
  margin-bottom: 1em;
}

.add-to-collections-button:hover,
.journal-button:hover {
  background-color: #6d45e2;
}

.album-container {
  margin-bottom: 2em;
}

.album-title {
  color: #6d45e2; 
  margin-bottom: .1em;
}

.album-artist {
  margin-bottom: .9em;
}

.cover-image {
  width: 100%;
  max-width: max-content;
}

.tracklist-container {
  display: flex;
  flex-direction: column;  
  gap: .3em;
  margin: 2em 0;
}

.tracklist-container h3 {
  align-items: center;
}

.tracklist-title {
  color: #6d45e2;
}

@media (min-width: 630px) {
  .album-container {
    display: flex;
  }

  .tracklist-container {
    margin: 67.7px 0 0 2em;
  }
}

@media (max-width:370px) {
  .buttons-container {
    flex-direction: column;
    gap: .1em;
    max-width: 153px;
    margin: auto;
  }
}