.buttons-container {
  display: flex;
  justify-content: space-between;
  padding-right: 34px;
  padding-left: 10px;
  justify-content: space-between;
}

.add-to-collections-button,
.journal-button {
  padding: 0.5rem 1rem;
  background-color: #865dff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-collections-button:hover,
.journal-button:hover {
  background-color: #6d45e2;
}

.album-tracklist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.album-details-container {
  flex: 1;
}

.album-title {
  color: #6d45e2; 
}

.cover-image {
  padding-top: 10px;
  padding-right: 15px;
  height: auto;
  width: 39rem;
}

.tracklist-container {
  flex: 1;
  margin-top: 20px;
  padding-left: 10px;
}

.tracklist-container h3 {
  margin-bottom: 10px;
}

.tracklist-container p {
  margin: 5px 0;
}

.tracklist-title {
  color: #6d45e2;
}

.video {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 64px;
  margin-bottom: 120px;
  aspect-ratio: 16/9;
  border: 0;
}

/* Responsive Styles */
@media (max-width: 770px) {
  .cover-image {
    width: 100%;
    max-width: max-content;
  }
}

@media (max-width: 450px) {
  .cover-image {
    width: 90%;
    max-width: none;
  }
  .album-details-container {
    flex: 1;
  }
}

@media (max-width: 381px) {
  .cover-image {
    width: 100%;
    max-width: none;
  }

  .content-container {
    flex-direction: column;
  }

  .tracklist-container {
    margin-top: 0; 
  }
  .album-details-container {
    flex: 1;
    display: contents;
  }
}
