.results--card {
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  color: var(--text-primary);
}

.results--card:hover {
  cursor: pointer;
}

.results--image {
  width: 100%;
}

.results--title {
  font-weight: bold;
  margin-top: 7px;
  margin-block-end: 7px;
}

.results--artist {
  margin-top: 7px;
  margin-block-end: 0;
}
