.results--card {
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  color: white;
}

.results--card:hover {
  cursor: pointer;
}

.results--image {
  width: 100%;
}

.results--title {
  font-weight: bold;
  margin-top: 7px;
  margin-block-end: 7px;
}

.results--artist {
  margin-top: 7px;
  margin-block-end: 0;
}

.delete-button {
  color: #5518AB;
  background-color: transparent;
  margin-top: 10px;
  border: 2px solid #5518AB; 
}

.delete-button:hover {
  background-color: #5518AB; 
  color: white; 
  cursor: pointer;
}