.results--card {
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  /* color: rgb(108, 64, 244); */
  color: white;
}

.results--card:hover {
  cursor: pointer;
}

.results--image {
  height: 130px;
  width: 130px;
  margin-top: 40px;
}

.results--title {
  font-weight: bold;
  margin-top: 7px;
  margin-block-end: 7px;
}

.results--artist {
  margin-top: 7px;
  margin-block-end: 0;
}