.recommendedContainer {
    height: 10%;
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: var(--text-primary);
    font-family: 'quantico';
}

.recommendedContainer h2 {
    margin: 1em;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-radius: 50px;
    border-color: var(--button-background);
    padding: 5%;
    margin-bottom: 5%;
}

.album img {
    max-width: 80%;
    height: auto;
    width: 400px;
}

.album p {
    max-width: 80%;
}

@media screen and (min-width: 900px) {
    .recommendedContainer {
        margin-bottom: 10%;
        font-size: x-large;
    }
    
    .album img {
        width: 700px;
    }
}