.banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(134,93,255);
  position: sticky;
  top: 0;
  /* z-index: 1; */
  background-color: #191725;
  padding: 1em;
}

.title {
  display: inline-block;
  text-decoration: none;
  color: rgb(134,93,255);
  font-family: 'frijole';
}

.navigation-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
  font-weight: 500;
  font-family: 'quantico'
}

.nav {
  text-decoration: none;
  color: rgb(134,93,255);
}

.user-profile {
  justify-self: flex-end;
}

.user-icon {
  width: 40px;
  margin-right: .5rem;
  filter: invert(44%) sepia(100%) saturate(3445%) hue-rotate(235deg) brightness(100%) contrast(104%);
}

.active {
  color: rgb(227,132,255);
  text-decoration: underline;
}

.logout-btn {
  background: none;
  border: none;
  color: rgb(134,93,255);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav:hover, h1:hover, .logout-btn:hover {
  color: #6546C4;
  filter: invert(31%) sepia(85%) saturate(1049%) hue-rotate(229deg) brightness(86%) contrast(97%);
}

@media (max-width: 720px) {
  .banner-container {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: auto auto; 
  }
  
  .navigation-tabs {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: flex-start;
    text-align: center;
    margin-top: .7em;
  }
}

@media (max-width: 450px) {
  .banner-container {
    margin: 0 1em 0 0;
  }
}

@media (max-width: 380px) {
  .navigation-tabs {
    flex-direction: column;
    justify-self: center;
  }
  .user-icon {
    width: 25px;
    margin-right: .2rem;
  }

  .title {
    font-size: .9rem;
  }
} 

