.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  color: rgb(134,93,255);
}

.title {
  display: inline-block;
  text-decoration: none;
  color: rgb(134,93,255);
}

.navigation-tabs {
  display: flex;
  gap: .7rem;
  font-weight: 500;
}

.nav {
  text-decoration: none;
  color: rgb(134,93,255);
}

.user-profile {
  justify-self: flex-end;
}

.active {
  color: rgb(227,132,255);
  text-decoration: underline;
}

@media (max-width: 720px) {
  .banner-container {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: auto auto; 
  }
  
  .navigation-tabs {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: flex-start;
    text-align: center;
    margin-top: .7em;
  }
}

@media (max-width: 450px) {
  .banner-container {
    margin: 0 1em 1em 1em;
  }
}

@media (max-width: 380px) {
  .banner-container {
    margin-bottom: 1em;
  }

  .navigation-tabs {
    flex-direction: column;
    justify-self: center;
  }
} 

